

#score, #game-over-title{
    font: normal bold 50px sans-serif;
}

html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: 100vh;
}

#field{
    margin-bottom: 1vh;
    display: block;
    background-color: darkslategray;
    padding: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    height: 95vh;
    max-height: 95vh;
    max-width:95%
}

button{
    position: fixed;
    padding: 20px;
    font-size: 20px;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    background-color: green;
}

#game-over{
    font-size: 10px;
    color: white;
    flex-direction: column;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #00000050;
}

#game-over-title, #restart{
    margin-bottom: 20px;
    display: flex;
    position: relative;
}
